@page "/"

@inject NavigationManager _navigation

<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-center">
    <h1 class="text-center text-secondary mb-5">Quote Calculator</h1>
</div>

<div class="d-flex justify-content-center">
    <div class="d-flex flex-column align-items-center gap-3">
        <MudButton Variant="Variant.Filled" Color="Color.Success" Size="Size.Large" OnClick="NavigateToCalculator">Go to Quote Calculator</MudButton>
    </div>
</div>

@code {
    private void NavigateToCalculator() => _navigation.NavigateTo("calculator");
}
