@using QuoteCalculator.Domain.Models
@using QuoteCalculator.Domain.Models.ViewModels

@page "/quotation/{id}"

@inject HttpClient _httpClient
@inject NavigationManager _navigation

<PageTitle>Quotation</PageTitle>

<div class="container">
    <div class="d-flex justify-content-center">
        <h3 class="text-center text-secondary">Your Quote</h3>
    </div>

    @if (model == null || model.Quotation == null || model.Quotation.Borrower == null)
    {
        <MudProgressCircular Indeterminate="true" />
    }
    else
    {
        <EditForm FormName="Form_LoanApplication" Model="@model" OnValidSubmit="Submit_LoanApplication">
            <DataAnnotationsValidator />
            <QuotationBorrowerDetails model="model" />
            <QuotationFinanceDetails model="model" />

            <div class="d-flex justify-content-center mt-12">
                <div class="d-flex flex-column align-items-center gap-4">
                    <MudButton ButtonType="ButtonType.Submit" Class="btn btn-success w-100" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large">Apply Now</MudButton>
                    <p class="text-muted small text-center">
                        Total repayments @((model?.TotalRepayment)?.ToString("C")), made up of an establishment fee of @((model?.EstablishmentFee)?.ToString("C")),<br>
                        interest of @((model?.Interest)?.ToString("C")). The repayment amount is based on the variables<br>
                        selected, is subject to our assessment and suitability, and other important<br>
                        terms and conditions apply.
                    </p>
                </div>
            </div>
        </EditForm>
    }
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }

    FinanceViewModel? model = new FinanceViewModel();

    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        if (Id == Guid.Empty)
        {
            Console.WriteLine("Invalid GUID received.");
        }
        else
        {
            await LoadQuotationDetails();
        }
    }

    private async Task LoadQuotationDetails()
    {
        isLoading = true;
        StateHasChanged();

        try
        {
            // var response = await _httpClient.GetFromJsonAsync<FinanceViewModel>($"api/Finance/{Id}");
            var response = await _httpClient.GetFromJsonAsync<FinanceViewModel>($"api/Finance?financeId={Id}");

            if (response != null)
            {
                model = response;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching quotation: {ex.Message}");

            var response = await _httpClient.GetFromJsonAsync<FinanceViewModel>("api/Quotation/GetMockQuote");

            if (response != null)
            {
                model = response;
            }
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    private async Task EditQuotationDetails()
    {
        try
        {
            model = await _httpClient.GetFromJsonAsync<FinanceViewModel>("api/Quotation/GetMockQuote");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching quotation: {ex.Message}");
        }
    }

    private void NavigateToQuCalculatorComponent(string redirectUrl)
    {
        _navigation.NavigateTo($"calculator/{redirectUrl}");
    }

    private void Submit_LoanApplication(EditContext context)
    {
        // success = true;
        StateHasChanged();
    }
}
