@using System.ComponentModel.DataAnnotations
@using QuoteCalculator.Domain.Models.Dto

<div class="container">
    <div class="d-flex justify-content-center gap-3 mb-6">
        <MudSelect Label="Title" @bind-Value="model.Title" Placeholder="Mr./Mrs." Class="w-25">
            <MudSelectItem Value="@("Mr.")">Mr.</MudSelectItem>
            <MudSelectItem Value="@("Mrs.")">Mrs.</MudSelectItem>
        </MudSelect>
        <MudTextField Label="First Name" @bind-Value="model.FirstName" Variant="Variant.Text" Class="w-25"></MudTextField>
        <MudTextField Label="Last Name" @bind-Value="model.LastName" Variant="Variant.Text" Class="w-25"></MudTextField>
    </div>

    <div class="d-flex justify-content-center gap-3 mb-6">
        <MudDatePicker Label="Date Of Birth" @bind-Date="dateOfBirthPlaceholder" Class="w-25" />
        <MudTextField Label="Your email" @bind-Value="model.Email" Variant="Variant.Text" Class="w-25"></MudTextField>
        <MudTextField Label="Mobile number" @bind-Value="model.Mobile" Variant="Variant.Text" Class="w-25"></MudTextField>
    </div>
</div>

@code {
    QuotationDto model = new QuotationDto();
    bool success;

    public DateTime? dateOfBirthPlaceholder = DateTime.Today.AddYears(-18);
}
